<mat-drawer #drawer mode="side" disableClose="true" opened="true">
  <mat-nav-list>
    <mat-list-item>
      <mat-icon matListItemIcon>person</mat-icon>
      <h3 matListItemTitle>tes</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>star</mat-icon>
      <h3 matListItemTitle>tes</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>chat</mat-icon>
      <h3 matListItemTitle>tes</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>insert_chart_outlined</mat-icon>
      <h3 matListItemTitle>tes</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>account_balance</mat-icon>
      <h3 matListItemTitle>tes</h3>
    </mat-list-item>
  </mat-nav-list>
</mat-drawer>
