.footer-component {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: black;
  text-align: center;

  &__toolbar {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    &__buttonNext {
      background: #165c7d !important;
      border-radius: 2px;
    }

    &__buttonTips {
      color: #165c7d !important;
      border-color: #165c7d !important;
    }
  }
}
