<mat-toolbar color="primary" class="header-component">
  <span class="header-component__brand">
    <h2 class="header-component__brand__title">NOVA ADMISSÃO COOPERADO</h2>
    <h5 class="header-component__brand__subTitle">
      Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado
    </h5>
  </span>
  <mat-divider vertical="true" inset="true"></mat-divider>
  <div class="header-component__profile">
    <mat-icon matBadge="7" matBadgeColor="warn">notifications_none</mat-icon>
    <button
      mat-fab
      extended
      color="primary"
      class="header-component__profile__button"
    >
      VIACREDI
    </button>
    <div mat-card-avatar class="header-component__profile__image">
      <mat-icon class="header-component__profile__image__icon">
        settings
      </mat-icon>
    </div>
  </div>
</mat-toolbar>
