@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

mat-drawer-container {
  display: block;
  height: 100%;
}

mat-nav-list {
  width: 60px;
  overflow: hidden;
  transition: width 0.3s;

  h4 {
    opacity: 0;
  }
}

mat-drawer:hover {
  mat-nav-list {
    width: 180px;
    h4 {
      opacity: 1;
      margin: auto 10px;
      transition: all 0.1s ease-in 0.2s;
    }
  }
}

mat-drawer-content {
  background-color: #e7eef1;
}

.app-component {
  &__sidebar {
    background: #165c7d;

    &__logo {
      margin: 0px 10px !important;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      width: fit-content;
      padding-right: 0px;
    }

    &__list {
      &__item {
        width: 200px;

        &__icon {
          margin-right: 20px !important;
        }
      }
    }
  }
}
