<mat-drawer-container>
  <mat-drawer
    class="app-component__sidebar"
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
  >
    <mat-nav-list>
      <mat-list-item>
        <img
          matListItemAvatar
          class="app-component__sidebar__logo"
          src="https://s3.amazonaws.com/gupy5/production/companies/1979/career/3891/images/2021-03-19_18-30_logo.png"
          alt=""
          srcset=""
        />
        <h3 class="app-component__sidebar__item" matListItemTitle>AILOS</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>menu</mat-icon>
        <h3 class="app-component__sidebar__item" matListItemTitle>Menu</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>search</mat-icon>
        <h3 class="app-component__sidebar__item" matListItemTitle>Pesquisa</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>star</mat-icon>
        <h3 class="app-component__sidebar__item" matListItemTitle>
          Classificados
        </h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>chat</mat-icon>
        <h3 class="app-component__sidebar__item" matListItemTitle>Bate-Papo</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>insert_chart_outlined</mat-icon>
        <h3 class="app-component__sidebar__item" matListItemTitle>
          Desempenho
        </h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>account_balance</mat-icon>
        <h3 class="app-component__sidebar__item" matListItemTitle>
          Financeiro
        </h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
